body {
  background: linear-gradient(135deg, #1e1e2f, #2b2b45);
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
}

.menu {
  background: #111827;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.menu a {
  color: #c7d2fe;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  color: #818cf8;
}

.menu button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}

.menu button:hover {
  background: #4f46e5;
}

.titulo {
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 28px;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* CARD */
.card {
  background: #1f2937;
  border-radius: 20px;
  padding: 15px;
  width: 250px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #d1d5db;
}

.card button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: 0.3s;
}

.card button:hover {
  background: #4f46e5;
}

.clima-box {
  text-align: center;
  margin: 30px;
}

.clima-box input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 250px;
  outline: none;
}

.clima-box button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.clima-box button:hover {
  background: #4f46e5;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.modal-caixa {
  background: #111827;
  width: 320px;
  margin: 120px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-caixa input,
.modal-caixa textarea {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px 0;
}

.modal-caixa button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
  margin: 5px;
}

.modal-caixa button:hover {
  background: #4f46e5;
}